.page-character {

  .page__head-dark{


    padding: 40px;
    background-color: #252525;
    background-image: url(https://i.annihil.us/u/prod/marvel/i/mg/c/50/537bafe4149ad.gif);
    background-attachment: fixed;
    background-position: center -430px;
  }
  
  @at-root #{&}__desc {
    padding: 20px;
    color: white;
  }

  .heroimage {
    min-height: 600px;

    @at-root #{&}__thumb {
      @include circle;
    }
    
  }

  .page__head__title, .page__head__desc {
    color: white;
  }

  .page__head__desc {
    margin: 20px 0;
  }
  

}