$gray-base:              #36393D !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 72%) !default; // #eee

$brand-primary:         #E63A26 !default; // #337ab7
$brand-primary-darker:  #37495E !default; // #337ab7
$brand-success:         #55D09E !default;
$brand-info:            #5990E3 !default;
$brand-warning:         #F3C50B !default;
$brand-danger:          darken($brand-primary, 10%);

$border-radius:          0 !default;
$border-radius-lg:       0 !default;
$border-radius-sm:       0 !default;

@import "~bootstrap/scss/bootstrap.scss";
@import "./base/_typography";
@import "./base/_mixins";

@import "./components/_Buttons";
@import "./components/_PageHeader";
@import "./components/_NavBar";
@import "./components/_ComicDetail";
@import "./components/_Character";
@import "./components/_ListFilter";
@import "./components/_ListItem";

@import "./layout/_page";
